<div class="selectDept">
    <header class="header">
        <%= image_tag("simformLogo.svg",:alt=> "Simform Logo" ,class:"logo-img") %>
    </header>
    <div class="progressWrapper">
    <div class="form-wizard">  
    <div class="steps">
      <ul>
        <li class="completed">
          <span></span>
          BASIC
        </li>
        <li class="active">
          <span></span> 
          PERSONAL
        </li>
        <li class="">
          <span></span>
          PRIMARY
        </li>
          <li class="">
          <span></span>
          SECONDARY
        </li>
      </ul>
    </div>
  </div>
    </div>
</div>