$font-family-sans-serif: 'Inter', sans-serif;
$font-family-monospace:'Inter', sans-serif;

$primary: #EF5366;
$lightPink: #FFE7E7;
$darkGrey: #212121;
$grey: #4D4D4D;
$lightgrey: #E5E5E5;
$lightgrey-100: #F8F8F8;
$lightgrey-200: #C1C1C1;
$lightgrey-300: #F4F4F4;
$lightgrey-400: #3D3D3D;
$white: #fff;
$black: #000;
$black-100: #00000008;